@{
    ViewBag.Title = "Registro";
}
<div class="text-center alert alert-warning">
    <h1><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span> <strong>Advertencia</strong> <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span></h1>
    <h2>@ViewBag.mensajeError</h2>    
</div>


