@using ESAN.Componentes.CoreEvaluacion.Models.General.EvaluacionMSA;
@using Newtonsoft.Json;  
@{
    Layout = null;
    List<sp_PromedioEvaluacion_Result> lstResultAA = (List<sp_PromedioEvaluacion_Result>)ViewBag.lstResultAA;
    List<sp_PromedioEvaluacion_Result> lstResultAB = (List<sp_PromedioEvaluacion_Result>)ViewBag.lstResultAB;
    List<sp_PromedioEvaluacion_Result> lstResultAC = (List<sp_PromedioEvaluacion_Result>)ViewBag.lstResultAC;

    List<sp_PromedioEvaluacion_Result> lstResultB = (List<sp_PromedioEvaluacion_Result>)ViewBag.lstResultB;

    List<sp_PromedioEvaluacion_Result> lstResultCA = (List<sp_PromedioEvaluacion_Result>)ViewBag.lstResultCA;
    List<sp_PromedioEvaluacion_Result> lstResultCB = (List<sp_PromedioEvaluacion_Result>)ViewBag.lstResultCB;

}

<!DOCTYPE  html>
<html lang="es-pe">
<head>
    <meta  charset="utf-8"  />
    @*<style type="text/css">
            body {

        font: 12pt "Tahoma";
    }
        #dina4 {
    width: 70em;
        min-height: 107em;
        border: 1px #D3D3D3 solid;
}
            p {
                font-size: 1.7em;
                line-height: 1.2em;
                margin: 1.25em 0;
                text-align: justify;
            }
            h2 {
                text-align: center;
            }

            ul {
                font-size: 1.7em;
                line-height: 1.2em;
                margin: 1.25em 0;
                text-align: justify;
            }
            table {
                font-size: 1.65em;
                line-height: 1.1em;
                margin: 1.25em 0;
                text-align: justify;
            }
    </style>*@
    <title></title>
   <style type="text/css">
       #chartDiv {
  width:100%;
  height:100%;
}
   </style>
    @*<script type="text/javascript" src="@Url.Content("~/Scripts/canvasjs/canvasjs.min.js")"></script>*@    
    @*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js" ></script>*@
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    @*<script type="text/javascript" src="@Url.Content("~/Scripts/Areas/Administrador/ResultadoEvaluacion/ResultadoParticipante.js")"></script>*@    
</head>
<body>
    <!--PAGINA 1-->
    <div id="dina4">
        <h2>INFORME EVALUACIÓN DE HABILIDADES DE GERENCIALES</h2>
        <p>Este informe muestra los resultados de la evaluación de sus habilidades de gestión (trabajo en equipo, liderazgo, y presentación oral) tomadas en Setiembre 2017.  El objetivo del informe es  facilitar su decisión con respecto a la habilidad que desea trabajar.</p>
        <p>El informe presenta una sección por cada habilidad evaluada.</p>
        <p>En la página introductoria de cada habilidad, encontrará una tabla que describe los comportamientos asociados a la misma, seguida de gráficos que le muestran cómo las diferentes fuentes (es decir, compañeros de clase o de trabajo) le evaluaron, así como  su autoevaluación. Se le presenta además, su ubicación en el grupo, en base a dos desviaciones estándares respecto de la media de la promoción. Para determinar si su puntaje cae dentro de este rango "estándar" compare la retroalimentación que le han dado sus compañeros con ese rango.</p>
        <p>Le sugerimos prestar especial atención a los siguientes aspectos:</p>
        <ul type="a">
            <li>¿Cuál es la distancia entre su autoevaluación y la de los demás?</li>
            <li>La "normalidad" de sus puntuaciones. Es decir, ¿cómo se comparan sus puntuaciones con el grupo?</li>
            <li>En caso de ser esta, una segunda o tercera evaluación aprecie si ¿La percepción del grupo sobre sus habilidades se ha movido? ¿Hacia arriba? ¿Hacia abajo? ¿En qué casos?</li>
        </ul>
        <p>Le sugerimos prestar especial atención a los siguientes aspectos:</p>
        <p>Gracias por su participación.</p>
        <div id="chartDiv"></div>
        <script>
            var chartData = {
                type: "bar",  // Specify your chart type here.
                title: {
                    text: "My Fírst Chárt" // Adds a title to your chart
                },
                legend: {}, // Creates an interactive legend
                series: [  // Insert your series data here.
                    { values: [35, 42, 67, 89] },
                    { values: [28, 40, 39, 36] }
                ]
            };
            zingchart.render({ // Render Method[3]
                id: "chartDiv",
                data: chartData,
                height: 400,
                width: 600
            });
        </script>
    </div>
    @*<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />*@
    <!--PAGINA 2-->
    <div>
        <h2>HABILIDADES DE TRABAJO EN EQUIPO</h2>
        <p>La evaluación de las habilidades de trabajo en equipo sigue la clasificación de Marks, Mathieu y Zaccaro (2001), de los comportamientos de trabajo en equipo, que incluye tres grandes categorías:</p>
        <p>
            <ul type="1">
                <li><strong>Comportamientos transicionales: </strong>Comportamientos involucrados en el establecimiento de metas y en el diseño de la estrategia para lograr las metas del equipo.</li>
                <li><strong>Comportamientos de la acción: </strong>   Comportamientos necesarios para avanzar en la operación del equipo.</li>
                <li><strong>Comportamientos interpersonales: </strong>Comportamientos necesarios para mantener un ambiente de equipo apropiado.</li>
            </ul>
        </p>
        <table border="1">
            <thead>
                <tr>
                    <th>Categoría</th>
                    <th>Conductas</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="2">1. Comportamientos transicionales</td>
                    <td>Análisis, formulación y planificación de la misión</td>
                    <td>Interpretación y evaluación de la misión del equipo, incluyendo la identificación de sus principales tareas, así como las condiciones ambientales operativas y los recursos del equipo disponibles para la ejecución de la misión.</td>
                </tr>
                <tr>
                    <td>Estrategia</td>
                    <td>Desarrollo de cursos alternativos de acción para el cumplimiento de la misión.</td>
                </tr>
                <tr>
                    <td rowspan="3">2. Comportamientos de la acción</td>
                    <td>Monitoreo de la Situación</td>
                    <td>Seguimiento de la tarea y el progreso hacia el logro de la misión, la interpretación de la información del sistema en términos de lo que se requiere para el logro de las metas, y la transmisión de los progresos a los miembros del equipo.</td>
                </tr>
                <tr>
                    <td>Ayudar a otros</td>
                    <td>Ayudar a los miembros del equipo a realizar sus tareas. La asistencia puede ocurrir al (1) proporcionar al compañero de equipo comentarios verbales o coaching; (2) ayudar a un compañero de equipo sobre la conducta en la realización de acciones; o (3) asumir y completar una tarea para un compañero de equipo.</td>
                </tr>
                <tr>
                    <td>Coordinación</td>
                    <td>Orquestar la secuencia y el momento de las acciones interdependientes.</td>
                </tr>

                <tr>
                    <td rowspan="4">3. Comportamientos interpersonales</td>
                    <td>Gestión de los conflictos</td>
                    <td>Establecer condiciones para prevenir, controlar o guiar el conflicto de equipo antes de que ocurra. Trabajando a través de desacuerdos de tareas e interpersonales entre los miembros del equipo.</td>
                </tr>
                <tr>
                    <td>Motivación</td>
                    <td>Generar y preservar un sentido de confianza colectiva, motivación y cohesión basada en las tareas con respecto a la realización de la misión.</td>
                </tr>
                <tr>
                    <td>Gestión de las emociones</td>
                    <td>Regular las emociones de los miembros durante la realización de la misión, incluyendo (pero no limitado a) la cohesión social, la frustración y el estímulo.</td>
                </tr>
                <tr>
                    <td>Comunicación</td>
                    <td>Mantener una conversación fructífera. Evitar monopolizar y bloquear a otros de participar.</td>
                </tr>
            </tbody>
        </table><br /><br /><br /><br />


        <div id="chartNivelAA" style="height: 500px; width: 1000px;"></div>
        <div id="chartNivelAB" style="height: 500px; width: 1000px;"></div>
        <div id="chartNivelAC" style="height: 500px; width: 1000px;"></div>
    </div>
    <!--PAGINA 3-->
    <div>
        <h2>HABILIDADES DE LIDERAZGO</h2>
        <p>La evaluación de las habilidades de Liderazgo sigue la clasificación de los estilos de liderazgo de Bass (1985) en dos grandes categorías:</p>
        <p>
            <ul type="1">
                <li>Liderazgo Transformacional.</li>
                <li>Liderazgo Transaccional.</li>
            </ul>
        </p>
        <p>Los comportamientos incluidos en cada categoría se describen a continuación.</p>
        <table border="1">
            <thead>
                <tr>
                    <th>Categoría</th>
                    <th>Conductas</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="4">1. Liderazgo transformacional</td>
                    <td>A. Influencia idealizada</td>
                    <td>La medida en que los líderes crean un sentido de propósito colectivo, defienden nuevas ideas, unen su acción a los estándares morales y van más allá de su propio interés.</td>
                </tr>
                <tr>
                    <td>B.Motivación inspiradora</td>
                    <td>La capacidad del líder para establecer altos estándares y para animar a otros a cumplir estos estándares.</td>
                </tr>
                <tr>
                    <td>C. Estimulación intelectual</td>
                    <td>Capacidad del líder para alentar a otros a cuestionar suposiciones pre-establecidas. Forman perspectivas distintas y buscan soluciones innovadoras.</td>
                </tr>
                <tr>
                    <td>D. Consideración individualizada</td>
                    <td>La medida en que los líderes consideran las necesidades personales de los seguidores y muestran preocupación por el desarrollo de los demás.</td>
                </tr>

                <tr>
                    <td rowspan="3">2. Liderazgo transaccional</td>
                    <td>A. Recompensa contingente</td>
                    <td>El grado en que los líderes proporcionan recompensas adecuadas (o castigo) para apoyar el logro de metas.</td>
                </tr>
                <tr>
                    <td>B. Gestión por excepción</td>
                    <td>La medida en que los líderes enfatizan los fracasos de los seguidores y intervienen exclusivamente para corregir situaciones.</td>
                </tr>
                <tr>
                    <td>C. Laissez-Faire</td>
                    <td>El grado en que los líderes se abstienen de intervenir en situaciones que requieren acción.</td>
                </tr>

            </tbody>
        </table>
        <div id="chartNivelB" style="height: 500px; width: 1000px;"></div>
    </div>
    <!--PAGINA 4-->
    <div>
        <h2>HABILIDADES DE PRESENTACIÓN ORAL</h2>
        <p>La evaluación de las habilidades de presentación sigue el Canon Retórico Romano de Cicerón y las Pruebas Retóricas de Aristóteles, que enfatizan cinco elementos de presentaciones efectivas:</p>
        <p>
            <ul type="1">
                <li><strong>Establecer Credibilidad:</strong>Comportamientos involucrados en la construcción de las percepciones de la audiencia de la credibilidad del presentador.</li>
                <li><strong>Contenido y Estructura:</strong>Uso del flujo lógico para comunicar un mensaje conciso y bien argumentado.</li>
                <li><strong>Claridad de la comunicación:</strong>Uso de vocabulario apropiado, ritmo de las palabras y explicación de la jerga cuando sea necesario.</li>
                <li><strong>Apoyo a la Presentación: </strong>Uso de ayudas de presentación para facilitar, en lugar de distraer, la comunicación de la idea central.</li>
                <li><strong>Entrega:</strong>Uso de la voz y el lenguaje corporal durante la presentación para conectar el contenido y la idea central del discurso a la audiencia.</li>
            </ul>
        </p>
        <p>Los comportamientos incluidos en cada categoría se describen a continuación.</p>
        <div id="chartNivelCA" style="height: 500px; width: 1000px;"></div>
        <div id="chartNivelCB" style="height: 500px; width: 1000px;"></div>
    </div>

    <!--PAGINA 5-->
    <div>
        <h2>EJERCICIO DE REFLEXIÓN</h2>
        <p>Después de revisar este informe, responda brevemente las siguientes preguntas:</p>
        <p>
            <ul type="1">
                <li>¿Cuál fue la información más sorprendente? ¿Por qué?</li>
                <li>De las habilidades gerenciales incluidas en el informe, ¿Cuáles considera como sus principals fortalezas? ¿Por qué? Sea específico.</li>
                <li>De las habilidades gerenciales incluidas en el informe, ¿ Cuáles considera como sus principales debilidades? ¿Por qué? Sea específico.</li>
                <li>Detalle las acciones (al menos 2) tomará para afrontar las debilidades que ha mencionado anteriormente. (Estas acciones podrían ser tan simples como leer artículos específicos, ver videoconferencias  sobre estas habilidades, o asistir a talleres).</li>
            </ul>
        </p>
        <p>Si necesita ayuda para completar este ejercicio o para identificar acciones específicas dirigidas a mejorar sus habilidades consulte con el Dr. Varela (otmar.varela@ualr.edu).</p>
        <p>Este ejercicio debe ser enviado ,hasta el 14 de octubre al correo otmar.varela@ualr.edu.</p>
    </div>
    
</body>
</html>
