<div style="background-color: white; color: #222222; font-family: arial, sans-serif; font-size: 12.8px;">
    <div style="font-size: 12.8px;">
        <span style="font-family: Arial, sans-serif; font-size: 12.8px;">Estimado participante;</span>
    </div>
    <div>
        <div class="MsoNormal" style="font-size: 12.8px;">
            <span style="font-family: Arial, sans-serif;"><br /></span>
        </div>
        <div class="MsoNormal" style="font-size: 12.8px;">
            <span style="font-family: Arial, sans-serif;">Es un agrado saludarle,&nbsp;</span>
        </div>
        <div class="MsoNormal" style="font-size: 12.8px; text-align: justify;">
            <br style="text-align: start;" /><span style="background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; font-family: Arial, sans-serif;"><span style="text-align: start;">Como parte de las actividades del Taller&nbsp;<b>"</b></span></span><span style="font-family: Arial, sans-serif;"><b>Development of Essential Skills for HR Executive"</b>&nbsp;le hacemos llegar dos</span><span style="font-family: Arial, sans-serif;">&nbsp;enlace (abajo).&nbsp;&nbsp;</span>
        </div>
        <div class="MsoNormal" style="font-size: 12.8px; text-align: justify;">
            <span style="font-family: Arial, sans-serif;"><br /></span>
        </div>
        <div class="MsoNormal" style="font-size: 12.8px; text-align: justify;">
            <span style="font-family: Arial, sans-serif;">Por el primero (INSTRUMENTO), se podrá acceder a los cuestionario para evaluar las destrezas de Trabajo en Equipo, Comunicaciones y Liderazgo.&nbsp;</span><span style="font-family: Arial, sans-serif; font-size: 12.8px;">&nbsp;</span>
        </div>
        <div class="MsoNormal" style="font-size: 12.8px; text-align: justify;">
            <span style="font-family: Arial, sans-serif; font-size: 12.8px;"><br /></span>
        </div>
        <div class="MsoNormal" style="font-size: 12.8px; text-align: justify;">
            <span style="font-family: Arial, sans-serif; font-size: 12.8px;">Por el segundo (VIDEO) podrá visualizar la presentación que grabó para evaluar su habilidad de comunicación. Este video deberá ser visto antes de completar dicho cuestionario.</span><span style="font-family: Arial, sans-serif;"><br /></span>
        </div>
        <div class="MsoNormal" style="font-size: 12.8px; text-align: justify;">
            <span style="font-family: Arial, sans-serif; font-size: 12.8px;"><br /></span>
        </div>
        <div class="MsoNormal" style="font-size: 12.8px; text-align: justify;">
            <span style="font-family: Arial, sans-serif;">Estos son los pasos a seguir :</span>
        </div>
        <div class="MsoNormal" style="font-size: 12.8px; text-align: justify;">
        </div>
        <ol>
            <li><span style="font-family: Arial, sans-serif; font-size: 12.8px;">Ingrese a los enlaces marcando</span><span style="font-family: Arial, sans-serif; font-size: 12.8px;">&nbsp;"enter" o un clic en los mismos. &nbsp;</span></li>
            <li>Ingrese la información de identificación solicitada.</li>
            <li>Complete los instrumento.</li>
            <li>Al contestar, sea<span style="font-family: Arial, sans-serif; font-size: 12.8px;">&nbsp;absolutamente sincero/a, ya que esta información le será de valiosa utilidad para su desarrollo profesional y personal.</span></li>
        </ol>
        <br />
        <div class="MsoNormal" style="font-size: 12.8px; text-align: justify;">
            <br />
        </div>
        <div style="font-size: 12.8px;">
            <div style="font-size: 12.8px; text-align: justify;">
                <span style="font-family: Arial, sans-serif; font-size: 12.8px;"><b>ENLACE INSTRUMENTO:</b> &nbsp;</span><a href="@ViewBag.LinkEval" style="font-size: 12.8px;" target="_blank">Presione aquí para ingresar al instrumento</a>
            </div>
        </div>
        <div style="font-size: 12.8px;">
            <br />
        </div>
        <div style="font-size: 12.8px;">
            <span style="font-family: Arial, sans-serif; font-size: 12.8px; text-align: justify;"><b>ENLACE VIDEO:</b>&nbsp;</span><a href="@ViewBag.LinkVideo" style="font-size: 12.8px; text-align: justify;" target="_blank">Presione aquí para ver el video</a>
        </div>
    </div>
    <div>
        <span style="font-family: Arial, sans-serif; font-size: 12.8px; text-align: justify;"><br /></span>
    </div>
</div>
<div style="background-color: white; color: #222222; font-family: arial, sans-serif; font-size: 12.8px; text-align: justify;">
    <span style="font-family: &quot;arial&quot; , sans-serif;"><br /></span>
</div>
<div style="background-color: white; color: #222222; font-family: arial, sans-serif; font-size: 12.8px; text-align: justify;">
    <br />
</div>