<div style="background-color: white; color: #222222; font-family: arial, sans-serif; font-size: 12.8px;">
    <div style="font-size: 12.8px;">
        <div style="font-size: 12.8px;">
            <div align="center" class="MsoNormal" style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; line-height: normal; margin-bottom: 0.0001pt; text-align: center;">
                <b><span style="color: red; font-family: &quot;Arial&quot;,sans-serif; font-size: 12.0pt; mso-bidi-font-style: italic; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-fareast-language: ES-PE;">PARA COMPAÑEROS DE CLASE<o:p></o:p></span></b>
            </div>
            <div class="MsoNormal" style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; line-height: normal; margin-bottom: 0.0001pt; text-align: justify;">
                <br />
            </div>
            <div class="MsoNormal" style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; line-height: normal; margin-bottom: 0.0001pt; text-align: justify;">
                <i><span style="font-family: Arial, sans-serif; font-size: 9.5pt;">Estimado/a</span></i><span style="font-family: Arial, sans-serif; font-size: 9.5pt;"><o:p></o:p></span>
            </div>
            <div class="MsoNormal" style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; line-height: normal; margin-bottom: 0.0001pt; text-align: justify;">
                <br />
            </div>
            <div class="MsoNormal" style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; line-height: normal; margin-bottom: 0.0001pt; text-align: justify;">
                <i>
                    <span style="font-family: Arial, sans-serif; font-size: 9.5pt;">
                        Te agradezco tu participación en esta
                        evaluación sobre mis habilidades ejecutivas. <o:p></o:p>
                    </span>
                </i>
            </div>
            <div class="MsoNormal" style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; line-height: normal; margin-bottom: 0.0001pt; text-align: justify;">
                <br />
            </div>
            <div class="MsoNormal" style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; line-height: normal; margin-bottom: 0.0001pt; text-align: justify;">
                <i>
                    <span style="font-family: Arial, sans-serif; font-size: 9.5pt;">
                        Para ello adjunto los siguientes
                        enlaces (abajo):<o:p></o:p>
                    </span>
                </i>
            </div>
            <div class="MsoNormal" style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; line-height: normal; margin-bottom: 0.0001pt; text-align: justify;">
                <br />
            </div>
            <div class="MsoListParagraphCxSpFirst" style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; line-height: normal; margin-bottom: 0.0001pt; text-align: justify; text-indent: -18pt;">
            </div>
            <ol>
                <li>
                    <i style="font-size: 12.8px; text-indent: -18pt;"><span style="font-family: Arial, sans-serif; font-size: 9.5pt;"><span style="font-family: &quot;Times New Roman&quot;; font-size: 7pt; font-stretch: normal; font-style: normal; font-variant-numeric: normal; line-height: normal;">&nbsp; &nbsp; &nbsp;</span></span></i><i style="font-size: 12.8px; text-indent: -18pt;">
                        <span style="font-family: Arial, sans-serif; font-size: 9.5pt;">
                            Marca el enlace
                            “INSTRUMENTO” e ingresarás al cuestionario, donde contestarás una serie de
                            preguntas sobre mis habilidades.
                        </span>
                    </i>
                </li>
                <li>
                    <i style="font-size: 12.8px; text-indent: -18pt;"><span style="font-family: Arial, sans-serif; font-size: 9.5pt;"><span style="font-family: &quot;Times New Roman&quot;; font-size: 7pt; font-stretch: normal; font-style: normal; font-variant-numeric: normal; line-height: normal;">&nbsp; &nbsp; &nbsp;</span></span></i><i style="font-size: 12.8px; text-indent: -18pt;">
                        <span style="font-family: Arial, sans-serif; font-size: 9.5pt;">
                            Para evaluar mis
                            habilidades de presentación, deberás marcar el enlace “Video” y visualizar una corta
                            exposición. Por favor, pon atención a los detalles ya que deberás calificarme
                            posteriormente.
                        </span>
                    </i>
                </li>
            </ol>
            <!--[if !supportLists]--><br />
            <div class="MsoNormal" style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; line-height: normal; margin-bottom: 0.0001pt; text-align: justify;">
                <br />
            </div>
            <div class="MsoNormal" style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; line-height: normal; margin-bottom: 0.0001pt; text-align: justify;">
                <i>
                    <span style="font-family: Arial, sans-serif; font-size: 9.5pt;">
                        Por favor, te solicito competes el
                        instrumento hasta antes del 30 de Setiembre.<o:p></o:p>
                    </span>
                </i>
            </div>
            <div class="MsoNormal" style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; line-height: normal; margin-bottom: 0.0001pt; text-align: justify;">
                <br />
            </div>
            <div class="MsoNormal" style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; line-height: normal; margin-bottom: 0.0001pt; text-align: justify;">
                <i>
                    <span style="font-family: Arial, sans-serif; font-size: 9.5pt;">
                        Te recuerdo que la evaluación es
                        anónima, como estoy siendo evaluado por compañeros de clase y de trabajo, <b>
                            sólo
                            te pedirán que señales que eres compañero de clase
                        </b>. Tus repuestas llegarán automáticamente
                        al sistema. En el informe que recibiré, no se distingue, ni se clasifica a
                        quienes me evalúan. Lo que se me brindará es un reporte global, sobre la
                        percepción que tienen los demás sobre mis habilidades.<o:p></o:p>
                    </span>
                </i>
            </div>
            <div class="MsoNormal" style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; line-height: normal; margin-bottom: 0.0001pt; text-align: justify;">
                <br />
            </div>
            <div class="MsoNormal" style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; line-height: normal; margin-bottom: 0.0001pt; text-align: justify;">
                <i>
                    <span style="font-family: Arial, sans-serif; font-size: 9.5pt;">
                        Tu sinceridad es fundamental para este
                        ejercicio, ya que tu opinión es de gran valor para mi desarrollo personal y
                        profesional. "
                    </span>
                </i><span style="font-family: Arial, sans-serif; font-size: 9.5pt;"><o:p></o:p></span>
            </div>
            <div class="MsoNormal" style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; line-height: normal; margin-bottom: 0.0001pt; text-align: justify;">
                <br />
            </div>
            <div class="MsoNormal" style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; line-height: normal; margin-bottom: 0.0001pt; text-align: justify;">
                <span style="font-family: Arial, sans-serif; font-size: 9.5pt;">Muchas gracias por tu colaboración!<o:p></o:p></span>
            </div>
            <div class="MsoNormal" style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; line-height: normal; margin-bottom: 0.0001pt; text-align: justify;">
                <br />
            </div>
            <div class="MsoNormal" style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; line-height: normal; margin-bottom: 0.0001pt; text-align: justify;">
                <br />
            </div>
            <div class="MsoNormal" style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; line-height: normal; margin-bottom: 0.0001pt; text-align: justify;">
                <span style="font-family: &quot;arial&quot; , sans-serif; font-size: 12.8px;"><b>ENLACE INSTRUMENTO:</b>&nbsp;&nbsp;</span><a href="@ViewBag.LinkEval" style="font-size: 12.8px;" target="_blank">Presione aquí para ingresar al instrumento</a>
            </div>
            <div style="border-bottom: double windowtext 2.25pt; border: none; mso-element: para-border-div; padding: 0cm 0cm 1.0pt 0cm;">

                <div class="MsoNormal" style="border: none; mso-border-bottom-alt: double windowtext 2.25pt; mso-padding-alt: 0cm 0cm 1.0pt 0cm; padding: 0cm;">
                    <br />
                </div>
                <div class="MsoNormal" style="border: none; mso-border-bottom-alt: double windowtext 2.25pt; mso-padding-alt: 0cm 0cm 1.0pt 0cm; padding: 0cm;">
                    <span style="font-family: &quot;arial&quot; , sans-serif; font-size: 12.8px; text-align: justify;"><b>ENLACE VIDEO:</b>&nbsp;&nbsp;</span><a href="@ViewBag.LinkVideo" style="font-size: 12.8px; text-align: justify;" target="_blank">Presione aquí para ingresar al instrumento</a>
                </div>
                <div class="MsoNormal" style="border: none; mso-border-bottom-alt: double windowtext 2.25pt; mso-padding-alt: 0cm 0cm 1.0pt 0cm; padding: 0cm;">
                    <br />
                </div>
            </div>
            <div class="MsoNormal">
                <br />
            </div>
            <div align="center" class="MsoNormal" style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; line-height: normal; margin-bottom: 0.0001pt; text-align: center;">
                <b><span style="color: red; font-family: &quot;Arial&quot;,sans-serif; font-size: 12.0pt; mso-bidi-font-style: italic; mso-fareast-font-family: &quot;Times New Roman&quot;; mso-fareast-language: ES-PE;">PARA COMPAÑEROS DE TRABAJO<o:p></o:p></span></b>
            </div>
            <div class="MsoNormal">
                <br />
            </div>
            <div class="MsoNormal" style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; line-height: normal; margin-bottom: 0.0001pt; text-align: justify;">
                <i><span style="font-family: Arial, sans-serif; font-size: 9.5pt;">Estimado/a</span></i><span style="font-family: Arial, sans-serif; font-size: 9.5pt;"><o:p></o:p></span>
            </div>
            <div class="MsoNormal" style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; line-height: normal; margin-bottom: 0.0001pt; text-align: justify;">
                <br />
            </div>
            <div class="MsoNormal" style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; line-height: normal; margin-bottom: 0.0001pt; text-align: justify;">
                <i>
                    <span style="font-family: Arial, sans-serif; font-size: 9.5pt;">
                        Te agradezco tu participación en esta
                        evaluación sobre mis habilidades ejecutivas. <o:p></o:p>
                    </span>
                </i>
            </div>
            <div class="MsoNormal" style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; line-height: normal; margin-bottom: 0.0001pt; text-align: justify;">
                <br />
            </div>
            <div class="MsoNormal" style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; line-height: normal; margin-bottom: 0.0001pt; text-align: justify;">
                <i>
                    <span style="font-family: Arial, sans-serif; font-size: 9.5pt;">
                        Para ello adjunto el siguiente enlace
                        (abajo) que sólo deberás marcar para poder ingresar al instrumento.<o:p></o:p>
                    </span>
                </i>
            </div>
            <div class="MsoNormal" style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; line-height: normal; margin-bottom: 0.0001pt; text-align: justify;">
                <br />
            </div>
            <div class="MsoNormal" style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; line-height: normal; margin-bottom: 0.0001pt; text-align: justify;">
                <i>
                    <span style="font-family: Arial, sans-serif; font-size: 9.5pt;">
                        Te solicito que lo conteste hasta
                        antes del 30 de setiembre.<o:p></o:p>
                    </span>
                </i>
            </div>
            <div class="MsoNormal" style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; line-height: normal; margin-bottom: 0.0001pt; text-align: justify;">
                <br />
            </div>
            <div class="MsoNormal" style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; line-height: normal; margin-bottom: 0.0001pt; text-align: justify;">
                <i>
                    <span style="font-family: Arial, sans-serif; font-size: 9.5pt;">
                        Te recuerdo que la evaluación es
                        anónima, como estoy siendo evaluado por mis compañeros de clase, <b>
                            sólo te
                            pedirán que señales que eres mi compañero de trabajo
                        </b>. Tus repuestas llegarán
                        automáticamente al sistema. En el informe que recibiré no se distingue, ni se
                        clasifica, a quienes me evalúan. Lo que se me brindará es un reporte global
                        sobre la percepción que tienen los demás sobre mis habilidades.<o:p></o:p>
                    </span>
                </i>
            </div>
            <div class="MsoNormal" style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; line-height: normal; margin-bottom: 0.0001pt; text-align: justify;">
                <br />
            </div>
            <div class="MsoNormal" style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; line-height: normal; margin-bottom: 0.0001pt; text-align: justify;">
                <i>
                    <span style="font-family: Arial, sans-serif; font-size: 9.5pt;">
                        Tu sinceridad es fundamental para este
                        ejercicio, ya que tu opinión es de gran valor para mi desarrollo personal y profesional.
                    </span>
                </i><span style="font-family: Arial, sans-serif; font-size: 9.5pt;"><o:p></o:p></span>
            </div>
            <div class="MsoNormal" style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; line-height: normal; margin-bottom: 0.0001pt; text-align: justify;">
                <br />
            </div>
            <div class="MsoNormal" style="background-attachment: initial; background-clip: initial; background-image: initial; background-origin: initial; background-position: initial; background-repeat: initial; background-size: initial; line-height: normal; margin-bottom: 0.0001pt; text-align: justify;">
                <span style="font-family: Arial, sans-serif; font-size: 9.5pt;">Muchas gracias por tu colaboración!<o:p></o:p></span>
            </div>
            <div class="MsoNormal">
                <br />
            </div>
            <span style="font-family: &quot;arial&quot; , sans-serif; font-size: 12.8px; text-align: justify;"><b>INSTRUMENTO PARES:</b> &nbsp;</span><a href="@ViewBag.LinkEval" style="font-size: 12.8px; text-align: justify;" target="_blank">Presione aquí para ingresar al instrumento</a>
        </div>
    </div>
    <div>
        <div style="font-size: 12.8px;">
            <br />
        </div>
        <div style="font-size: 12.8px;">
            <br />
        </div>
    </div>
    <div>
        <span style="font-family: &quot;arial&quot; , sans-serif; font-size: 12.8px; text-align: justify;"><br /></span>
    </div>
</div>
<div style="background-color: white; color: #222222; font-family: arial, sans-serif; font-size: 12.8px; text-align: justify;">
    <span style="font-family: &quot;arial&quot; , sans-serif;"><br /></span>
</div>
<div style="background-color: white; color: #222222; font-family: arial, sans-serif; font-size: 12.8px; text-align: justify;">
    <br />
</div>


