
@{
    ViewBag.Title = "Generación de links";
}
<br />
<div class="alert alert-info" role="alert">
    <h4>
        Listado de <strong>promociones</strong>
    </h4>
</div>
<hr />
<div id="divListadoPromocionLinks"></div>
<hr />
<div class="alert alert-info" role="alert">
    <h4>
        Generar <strong>links</strong>
    </h4>
</div>
<hr />
<div id="divListadoParticipanteLinks"></div>
<hr />
<div id="divListadoParticipanteLinksDetalle"></div>
<input type="hidden" id="hidEvaluacionPromocionID" />
<input type="hidden" id="hidEvaluacionPromocionCorreo" />
@*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
<script src="~/Scripts/jquery/jquery-ui-1.8.24.min.js"></script>
<script src="~/Scripts/Datatable/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/Datatable/js/dataTables.jqueryui.min.js"></script>
<script src="~/Scripts/Datatable/js/dataTables.bootstrap.min.js"></script>
<link href="~/Scripts/Datatable/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Scripts/Datatable/css/dataTables.jqueryui.min.css" rel="stylesheet" />
<link href="~/Scripts/Datatable/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" />
<link href="~/Content/themes/base/jquery.ui.datepicker.css" rel="stylesheet" />
<script>



    CargarListado();

    function CargarListado() {
        $.ajax({
            'url': URL_PAGE + 'Administrador/Link/ListadoPromocion',
            'type': 'POST',
            //'data': $('#yourFormId').serialize(),
            'success': function (view) {
                //process here
                $("#divListadoPromocionLinks").html(view);
            }
        });
    }

    $(document).on('click', '.btnVisualizarParticipantes', function () {
        var vPromocionID = $(this).attr("idpromo");
        $("#hidEvaluacionPromocionID").val(vPromocionID);
        $("#hidEvaluacionPromocionCorreo").val($(this).attr("correo"));
        $("#divListadoParticipanteLinksDetalle").html("");
        $.ajax({
            'url': URL_PAGE + 'Administrador/Link/ListadoParticipante',
            'type': 'POST',
            'data': {
                EvaluacionPromocionID: vPromocionID
            },
            'success': function (view) {
                //process here
                $("#divListadoParticipanteLinks").html(view);
            }
        });
    });

    $(document).on('change', '.cboCicloParticipante', function () {
        var vCicloID = $(this).val();
        var vPromocionID = $("#hidEvaluacionPromocionID").val();
        var $select = $('#cboMedicionParticipante');

        $.ajax({
            'url': URL_PAGE + 'Administrador/Link/ListadoMedicion',
            'type': 'POST',
            cache: false,
            contentType: "application/json; charset=utf-8",
            'data': JSON.stringify({
                EvaluacionPromocionID: vPromocionID,
                EvaluacionCicloID: vCicloID
            }),
            'success': function (data) {
                $select.html("");
                $select.append($('<option>', {
                    value: "-1",
                    text: "SELECCIONE"
                }));
                $.each(data.listamedicion, function (i, state) {
                    if (state.EvaluacionPromMedicionFecIni == null || state.EvaluacionPromMedicionFecFin == null) {
                        alert("Aún no se ha configurado fechas para este ciclo. Por favor realizar la configuración.");
                        return false;
                    } else {
                        // parse JSON formatted date to javascript date object
                        var fechaInicio = new Date(parseInt(state.EvaluacionPromMedicionFecIni.substr(6)));
                        var fechaFin = new Date(parseInt(state.EvaluacionPromMedicionFecFin.substr(6)));
                        // format display date (e.g. 04/10/2012)
                        var vFecIni = $.datepicker.formatDate("dd/mm/yy", fechaInicio);
                        var vFecFin = $.datepicker.formatDate("dd/mm/yy", fechaFin);
                        $('<option>', {
                            value: state.EvaluacionMedicionID,
                            esevaluado: state.EsEvaluado
                        }).html(state.EvaluacionMedicionDescripcion + " (" + vFecIni + " - " + vFecFin + ")").appendTo($select);
                    }
                });
            }
        });
    });


    $(document).on('change', '.cboMedicionParticipante', function () {
        var vPromocionID = $("#hidEvaluacionPromocionID").val();
        var vMedicionID = $("#cboMedicionParticipante").val();
        var vEsEvaluado = $('option:selected', this).attr('esevaluado');
        var vCicloID = $(".cboCicloParticipante").val();

        $("#divListadoParticipanteLinksDetalle").html("");

        if (vEsEvaluado == "true") {
            $('#lblRutaLink').hide();

            $.ajax({
                'url': URL_PAGE + 'Administrador/Link/ListadoParticipanteDetalle',
                'type': 'POST',
                'data': {
                    EvaluacionPromocionID: vPromocionID,
                    EvaluacionMedicionID: vMedicionID,
                    EvaluacionCicloID: vCicloID
                },
                'success': function (view) {
                    //process here
                    $("#divListadoParticipanteLinksDetalle").html(view);
                }
            });
        } else {

            $('#lblRutaLink').show();
            var url = "http://msa.esan.edu.pe/Alumno/Evaluacion/frmEvaluacion?idMedicion=" + vMedicionID + "&idPromocion=" + vPromocionID + "&idEvaluado=0&Externo=false";
            $('#lblRutaLink').attr('href', url);
        }
    });

    $(document).on('click', '#btnEnviarCorreo', function () {
        var vPromocionID = $("#hidEvaluacionPromocionID").val();
        var vMedicionID = $("#cboMedicionParticipante").val();
        var vEsEvaluado = $('option:selected', ".cboMedicionParticipante").attr('esevaluado');

        if (confirm("Se enviará un correo a cada integrante de la promoción... \n\n\n\n\n ¿Esta seguro de realizar el envío masivo?")) {

            $.ajax({
                'url': URL_PAGE + 'Administrador/Link/EnviarMail',
                'type': 'POST',
                'data': {
                    EvaluacionPromocionID: vPromocionID,
                    EvaluacionMedicionID: vMedicionID,
                    EsEvaluado: vEsEvaluado
                },
                'success': function (view) {
                    alert("Enviado...");
                }
            });
        }
    });

    // Copy to clipboard example
    $(document).on('click', '.btnCopiarUrl', function () {
        var copiar = $(this).attr("url");
        copyTextToClipboard(copiar);
    });

    function copyTextToClipboard(text) {
        var textArea = document.createElement("textarea");

        textArea.style.position = 'fixed';
        textArea.style.top = 0;
        textArea.style.left = 0;
        textArea.style.width = '2em';
        textArea.style.height = '2em';
        textArea.style.padding = 0;
        textArea.style.border = 'none';
        textArea.style.outline = 'none';
        textArea.style.boxShadow = 'none';
        textArea.style.background = 'transparent';
        textArea.value = text;
        document.body.appendChild(textArea);
        textArea.select();
        try {
            var successful = document.execCommand('copy');
            var msg = successful ? 'successful' : 'unsuccessful';
            console.log('Copying text command was ' + msg);
        } catch (err) {
            console.log('Oops, unable to copy');
        }
        document.body.removeChild(textArea);
    }

</script>
