@using ESAN.Componentes.CoreEvaluacion.Models.General.EvaluacionMSA
@{
    List<EvaluacionPromocionCiclo> listadoPromocionCiclo = new List<EvaluacionPromocionCiclo>();
    if (ViewBag.ListadoPromocionCiclo != null)
    {
        listadoPromocionCiclo = (List<EvaluacionPromocionCiclo>)ViewBag.ListadoPromocionCiclo;
    }
}

<form class="form-horizontal">
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Ciclo</label>
        <div class="col-sm-4">
            <select class="cboCicloParticipante">
                <option id="-1">SELECCIONE</option>
                @foreach (EvaluacionPromocionCiclo item in listadoPromocionCiclo)
                {
                    <option value="@item.EvaluacionCicloID">@item.EvaluacionCicloDescripcion</option>
                }

            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Medici&oacute;n</label>
        <div class="col-sm-4">
            <select class="cboMedicionParticipante" id="cboMedicionParticipante">
                <option></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-success" id="btnEnviarCorreo">Enviar Correo</button>
            <a href="#" id="lblRutaLink" class="btn btn-default glyphicon glyphicon glyphicon-globe" style="display:none" target="_blank"> Link</a>
        </div>
    </div>
</form>
<hr />